/* footer p {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(50, 50, 50);
    color: #d1ae62;
    font-size: medium;
    font-weight: lighter;
    text-align: center;
  } */