.details-card {
    width: 40rem;
    display: flex;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    background-color: rgb(97, 68, 23) !important;
    border-radius: 5px;
    border: 5px solid rgb(97, 68, 23) !important;
    font-family: "Tilt Warp";
}

.btn-container {
    /* justify-content: right !important; */
    margin-bottom: 30px !important;
}

.edit-btn {
    background-color: dimgray !important;
    width: 20%;
    border-color: dimgray !important;
    margin-right: 3px;
}

.edit-btn:hover {
    background-color: rgb(155, 155, 155) !important;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

}

.delete-btn {
    background-color: rgb(112, 0, 0) !important;
    width: 20%;
    border-color: rgb(112, 0, 0) !important;
    margin-left: 3px;
}

.delete-btn:hover {
    background-color: rgb(191, 0, 0) !important;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;

}

.car-name {
    font-size: 1.9rem !important;
    color: rgb(22, 22, 22);
}

.car-info {
    color: rgb(22, 22, 22);
}

