
.form-container {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;
}

.register-form {
    width: 20rem;
    /* max-width: 50%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(97, 68, 23);
    border: 20px solid rgb(97, 68, 23);
    border-radius: 5px;
}

.submit-btn {
    background-color: #b77d00 !important;
    color: #3a2800 !important;
    border: transparent !important;
    font-family: Tilt Warp, sans-serif !important;
    width: 100%;
    margin-top: 15px !important;
}

.submit-btn:hover {
    background: #ffae00 !important;
    color: #3a2800;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-link-box {
    font-size: small;
    margin-top: 30px;
}

.login-link {
    font-size: small;
    color: antiquewhite;
}

.login-link:hover {
    color: #ffae00;
}

.form-label {
    font-family: Tilt Warp, sans-serif;
    font-size: larger;
    margin-bottom: 10px !important;
}

.input-label {
    margin-bottom: 2px !important;
    margin-top: 0px !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 14px !important;
    color: blanchedalmond !important;
}

.form-group {
    margin-bottom: 3px !important;
    height: 5.1rem;
}

.submit-btn-container {
    height: 2.8rem;
}
/* div>p {
    font-size: small;
    color: rgb(231, 204, 0);
    margin-top: 10px;

} */