
.form-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.create-form {

    /* max-width: 50%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(97, 68, 23);
    border: 20px solid rgb(97, 68, 23);
    border-radius: 5px;
}

.submit-btn {
    background-color: #b77d00 !important;
    color: #3a2800 !important;
    border: transparent !important;
    font-family: Tilt Warp, sans-serif !important;
    width: 100%;
}

.submit-btn:hover {
    background: #ffae00 !important;
    color: #3a2800;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-label {
    font-family: Tilt Warp, sans-serif;
    font-size: larger;
    margin-bottom: 20px !important;
}